@inject SignInManager<ApplicationUser> signInManager;
@inject UserManager<ApplicationUser> userManager;
@model IEnumerable<Subscription>
<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Index</title>

</head>
<body>
    <style>

        .content-table {
            border-collapse: collapse;
            margin: 25px 0;
            font-size: 0.9em;
            min-width: 400px;
            border-radius: 5px 5px 0 0;
            overflow: hidden;
            box-shadow: 0 0 20px rgba(0, 0, 0.15);
            align-items: center;
            justify-content: center;
        }

            .content-table thead tr {
                background-color: #00ff90;
                color: #ffffff;
                text-align: left;
                font-weight: bold;
            }

            .content-table th, .content-table td {
                padding: 12px 15px;
            }

            .content-table tbody tr {
                border-bottom: 1px solid #fff;
            }

                .content-table tbody tr:nth-of-type(even) {
                    background-color: #f3f3f3;
                }

                .content-table tbody tr:last-of-type {
                    border-bottom: 2px solid #009879;
                }

        .btn-1 {
            width: 150px;
            height: 55px;
            border: none;
            color: #ffffff;
            background-color: #ff0000;
            border-radius: 4px;
            box-shadow: inset 0 0 0 0 #f9e506;
            transition: ease-out 0.3s;
            font-size: 2rem;
            outline: none;
        }

            .btn-1:hover {
                box-shadow: inset 300px 0 0 0 #f9e506;
                cursor: pointer;
                color: rgba(0, 0, 0.15)
            }

        .search_size {
            width: 200px;
            height: 40px;
        }
    </style>

    <h3>Lista abonamente</h3>
    <div class="row">
        <div class="col-md-4">
            <form asp-action="ShowSearchResults">
                <div class="form-group">
                    <label for="SearchPhrase" class="control-label"></label>
                    <input name="SearchPhrase" class="form-control" />
                </div>
                <div class="form-group">
                    <input type="submit" value="Search" class="btn text-white" style="margin-top:10px; background-color: #009de9" />
                </div>
            </form>
        </div>
    </div>
    @{
        var isSubscribed = ViewData["subscribed"];
    }

    <table class="table table-striped" style="width: 600px;">
        <thead>
            <tr>
                <th scope="col">Id</th>
                <th scope="col">Tip</th>
                <th scope="col">Timp</th>
                <th scope="col">Descriere</th>
                <th scope="col">Pret</th>
                @if (signInManager.IsSignedIn(User) && User.IsInRole("Admin")) {
                    <th scope="col">Actiuni</th>
                }
            </tr>
        </thead>
        @foreach (var subscription in Model)
        {
        <tr>
            <td>@subscription.Id</td>
            <td>@subscription.Type</td>
            <td>@subscription.Time</td>
            <td>@subscription.Specification</td>
            <td>@subscription.Price</td>
                @if (signInManager.IsSignedIn(User) && User.IsInRole("Admin"))
                {
                <td>
                    <a class="btn btn-danger" asp-action="deletesubscription" asp-controller="subscription" asp-route-id="@subscription.Id">
                        <i class="fa-solid fa-trash"></i>
                        Sterge
                    </a>
                    <a class="btn text-white" style="background-color: #a5cf39;" asp-action="editsubscription" asp-controller="subscription" asp-route-id="@subscription.Id">
                        <i class="fa-solid fa-pen-to-square"></i>
                        Modifica
                    </a>
                </td>
                } 
                else if (isSubscribed == null)
                {
                <td>
                    <a class="btn text-white" style="background-color: #a5cf39;" asp-action="addsubscriptiontouser" asp-controller="subscription" asp-route-id="@subscription.Id">
                        <i class="fa fa-cart-plus"></i>
                        Alege abonament
                    </a>
                </td>
                }
         </tr>
        }
    </table>

    @if (signInManager.IsSignedIn(User) && User.IsInRole("Admin"))
    {
        <a class="btn mb-2 text-white" style="background-color: #a5cf39;" 
        asp-controller="subscription" asp-action="createsubscription">Adauga abonament nou</a>
    }
</body>
</html>
